name: Deploy Base Infrastructure

on:
  workflow_dispatch:

jobs:
  deploy:
    
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
        
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - run: az logout